<h1>Home</h1>
<p> Enter your codeforces userID : </p>
<form action="/results" method="GET">
    <input type="text" name="userID" placeholder="enter your cf userID">
    <button>Submit</button>
</form>